
<%= link_to 'Back', :back %>
<h1>Mostrar datos de autor</h1>
<h3><strong>Nombre:</strong> <%= @author.name %> </h3>
<h3><strong>Nacionalidad:</strong> <%= @author.nationality %> </h3>
<h3><strong>Idioma:</strong> <%= @author.language %> </h3>

<%= link_to 'Inicio', action: 'index'%>